<p id="notice"><%= notice %></p>

<h1>Прогноз погоды</h1>

<table>
  <thead>
    <tr>
      <th>Город</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= city.name %></td>
        <td><%= link_to 'Узнать погоду', city %></td>
        <td><%= link_to 'Редактировать', edit_city_path(city) if @admin%></td>
        <td><%= link_to 'Удалить', city, method: :delete, data: { confirm: 'Are you sure?' }  if @admin %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New City', new_city_path if @admin%>