<p id="notice"><%= notice %></p>

<h1>
  <%= @city.name %>
</h1>

<p>
  <strong>Погода:</strong>
  <%= @weather_description %>
</p>

<p>
  <strong>Температура:</strong>
  <%= "#{@weather.temp}C (от #{@weather.temp_min}C до #{@weather.temp_max}C)" %>
</p>

<p>
  <strong>Ветер:</strong>
  <%= "#{@weather.wind_speed} м/с, #{@weather.wind_direction}" %>
</p>
<p>
  <strong>Видимость:</strong>
  <%= "#{@weather.visibility} м" %>
</p>


<%= link_to 'Назад', cities_path %>
